html,body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
}
/* Navbar */
.navbar-nav li a{
  font-size: 17px;
}
.navbar-brand{
  letter-spacing: 3px;
}
.header{
  background-color: #000;
  color: #fff;
}
.navbar-brand{
  color: #fff;
}
.nav-link{
  color: #fff;
}
/* Card */
.card{
  transition: all 0.5s ease;
  border-radius: 20px;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.carousel-item{
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}
.carousel-indicators{
  margin:0 auto;
}
/* Product */
.product img {
  transition: all 0.5s ease;
}
.product img:hover{
  transform: scale(1.1);
}
.main{
  min-height: 100%;
}
.footer{
  width: 100%;
  height: 80px;
  color: #fff;
  font-size: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}